################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# i have sold my soul to the devil xD
/.idea
/.cmake-build-debug-mingw_llvm
/.cmake-build-release-mingw_llvm
/.cmake-build-relwithdebinfo-mingw_llvm

# build directories 
*/bin/*
/Engine/bin/*
/Engine/docs/temp/*
/Engine/tools/TracyGUI/*

# git submodules 
/Engine/thirdparty/freetype/*
/Engine/thirdparty/glad2/*
/Engine/thirdparty/glm/*
/Engine/thirdparty/imgui/*
/Engine/thirdparty/nlohmann_json/*
/Engine/thirdparty/SDL3/*
/Engine/thirdparty/SDL3_image/*
/Engine/thirdparty/SDL3_mixer/*
/Engine/thirdparty/spdlog/*
/Engine/thirdparty/tmxlite/*
/Engine/thirdparty/magic_enum/*
/Engine/thirdparty/entt/*
/Engine/thirdparty/box2d/*
/Engine/thirdparty/box2cpp/box2d/*
/Engine/111.cpp

# build directory for libs and tmp files
/out

/Engine/src/Generated/*

/.local
deinitSub.sh
initSub.sh
rmSub.sh

/CMakeSettings.json

*.dll
*.exe
*.pdb

*.cori_engine_dll_copied.stamp
/Sandboxes/Sandbox/bin/*
/Sandboxes/RendererSandbox/bin/*
/Sandboxes/PhysicsSandbox/bin/*
/Sandboxes/Sandbox/userdata/*
/Sandboxes/RendererSandbox/userdata/*
/Sandboxes/PhysicsSandbox/userdata/*
/notes.txt

*.a
