[submodule "Engine/thirdparty/SDL3"]
	path = Engine/thirdparty/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x
[submodule "Engine/thirdparty/SDL3_image"]
	path = Engine/thirdparty/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = release-3.2.x
[submodule "Engine/thirdparty/SDL3_mixer"]
	path = Engine/thirdparty/SDL3_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = main
[submodule "Engine/thirdparty/glm"]
	path = Engine/thirdparty/glm
	url = https://github.com/g-truc/glm.git
	branch = release-1.0.2
[submodule "Engine/thirdparty/nlohmann_json"]
	path = Engine/thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "Engine/thirdparty/tmxlite"]
	path = Engine/thirdparty/tmxlite
	url = https://github.com/fallahn/tmxlite.git
	branch = master
[submodule "Engine/thirdparty/spdlog"]
	path = Engine/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Engine/thirdparty/magic_enum"]
	path = Engine/thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "Engine/thirdparty/imgui"]
	path = Engine/thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Engine/thirdparty/entt"]
	path = Engine/thirdparty/entt
	url = https://github.com/skypjack/entt.git
	branch = master
[submodule "Engine/thirdparty/box2d"]
	path = Engine/thirdparty/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Engine/thirdparty/stduuid"]
	path = Engine/thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "Engine/thirdparty/msdf-atlas-gen"]
	path = Engine/thirdparty/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen
[submodule "Engine/thirdparty/utfcpp"]
	path = Engine/thirdparty/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "Engine/thirdparty/tracy"]
	path = Engine/thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Engine/thirdparty/ExprTK"]
	path = Engine/thirdparty/ExprTK
	url = https://github.com/ArashPartow/exprtk
[submodule "Engine/thirdparty/pfr"]
	path = Engine/thirdparty/pfr
	url = https://github.com/boostorg/pfr
[submodule "Engine/thirdparty/Vulkan-Loader"]
	path = Engine/thirdparty/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "Engine/thirdparty/VulkanMemoryAllocator-Hpp"]
	path = Engine/thirdparty/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
[submodule "Engine/thirdparty/Vulkan-Headers"]
	path = Engine/thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Engine/thirdparty/small_vector"]
	path = Engine/thirdparty/small_vector
	url = https://github.com/gharveymn/small_vector
[submodule "Engine/thirdparty/dynamic_bitset"]
	path = Engine/thirdparty/dynamic_bitset
	url = https://github.com/Salio24/dynamic_bitset
[submodule "Engine/thirdparty/fast_obj"]
	path = Engine/thirdparty/fast_obj
	url = https://github.com/thisistherk/fast_obj
[submodule "Engine/thirdparty/glaze"]
	path = Engine/thirdparty/glaze
	url = https://github.com/stephenberry/glaze
[submodule "Engine/thirdparty/oneTBB"]
	path = Engine/thirdparty/oneTBB
	url = https://github.com/uxlfoundation/oneTBB
[submodule "Engine/thirdparty/imgui_club"]
	path = Engine/thirdparty/imgui_club
	url = https://github.com/ocornut/imgui_club
[submodule "Engine/thirdparty/efsw"]
	path = Engine/thirdparty/efsw
	url = https://github.com/SpartanJ/efsw.git
